<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Kup nowy los</title>
  </head>
  <body>
    <h1>Kup nowy los</h1>
    <ul>
      <li>Współrzędne X: <input type="text" name="xcorr"> </li>
      <li>Współrzędne Y: <input type="text" name="ycorr"></li>
      <li>Rodzaj losu: 
        <div class="custom-select" style="width:200px;">
          <select>
            <option value="0">Wybierz rodzaj</option>
            <option value="1">1 km - 3 zł</option>
            <option value="2">2 km - 5 zł</option>
            <option value="3">3 km - 10 zł</option>
          </select>
        </div>
      </li>
    </ul>
  </body>
</html>
